@font-face {
  font-family: 'Han Sans';
  src: url('SourceHanSansSC-VF.otf.woff2');
}

* {

  font-family: "Han Sans";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-corner {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  background-color: rgba(30, 111, 255, 1);
}

:root {
  /*页面安全区*/
  --safe_area: 1200px;
}

@media screen and (max-width:1200px) {
  :root {
    --safe_area: 100%;
  }
}

html {
  /* rem布局：1rem=10px*/
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#app {
  display: block;
  height: 100vh;
  width: 100%;
}